.wrapper {
    border-top: 1px solid rgb(222, 222, 222);
}

.label {
    color:  rgba(22, 24, 35, 0.75);
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 600;
}

.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
    // align-items: center;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.item-info {
    flex: 1;
    margin-left: 12px;
}

.nickname {
    margin-top: 0;
    line-height: 1;
    font-size: 1.6rem;
    color: #161823;
}

.check {
    margin-left: 4px;
    color: #20D5EC;
    font-size: 1.4rem;
}

.name {
    font-size: 1.2rem;
    letter-spacing: -0.2px;
   color: #161823bf;
}

.more-btn {
    padding: 8px;
    color:  #fe2c55;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}
