.wrapper {
    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--while);
    display: flex;
    justify-content: center;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {

}

.logo-link {
    display: flex;
}

// Search


// Actions

.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    background-color: transparent;
    margin-left: 28px;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    font-size: 2.2rem;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
    color: #161823;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}

